/* src/pages/PropertyListPage.css */
.property-listing {
  display: flex;
  flex-direction: column;
  background-color: rgba(106, 128, 105, 0.4); /* Olive Green */
  }
  
  .property-listing-header {
    text-align: center;
    font-size: 2rem;
    color: #2c5f2d; /* Hunter Green */
  }
  .featured-properties {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }